{{ define "header" }}
<div class="header__menu">
  <a class="header__button" href="{{ .Site.BaseURL }}">
    <img src="{{ .Site.BaseURL }}icons/back-arrow.png" alt="tile arrow" class="header__menu--icon">
    {{ .Site.Params.ListMenuBackHomeText }}
  </a>

  {{ range .Translations }}
  <a href="{{ .Permalink }}">
    <img width="auto" height="28px" src="{{ .Site.BaseURL }}icons/{{ .Lang }}.svg" alt="Language icon">
  </a>
  {{ end }}
  
  
</div>
{{ end }}


{{ define "main" }}
<!-- A central block for choosing the course size. -->
<div class="block block--larger">
  <div class="block__header">
    <h2 class="block__title">{{ .Title }}{{ .Site.Params.listTitle }}</h2>
    <span class="block__subtitle">{{ .RenderString .Site.Params.listSubtitle }}</span>
  </div>

  <!-- The cards for different activities. -->
  <div class="block__cards">
    {{ range .Pages }}
    <a class="card card--shadow card--showcase" href="{{ .Permalink }}">
      <img src="{{ .Site.BaseURL }}{{ .Params.Icon }}" alt="icon" class="card__icon">
      <span class="card__title">
        {{ .Title }}
        <img src="{{ .Site.BaseURL }}icons/tile-arrow@2x.png" alt="tile arrow" class="card__title--icon">
      </span>
    </a>
    {{ end }}
  </div>
</div>

<!-- {{ .Content }} -->

{{ end }}
