{{ define "header" }}
<div class="header__menu">
  <a class="header__button" href="{{ .Parent.Permalink }}">
    <img src="{{ .Site.BaseURL }}icons/back-arrow.png" alt="tile arrow" class="header__menu--icon">
    <!-- The text to go back to the course size page. -->
    {{ if isset .Parent.Params "category" }}
    {{ .Parent.Title }}
    {{ else }}
    {{ .Site.Params.listMenuBackHomeText }}
    {{ end }}
  </a>

  {{ if isset .Parent.Params "category" }}
  <!-- Dash between the menu items. -->
  <span>-</span>

  <!-- Dropdown menu -->
  <div class="dropdown">
    <div class="dropdown__primary">
      <!-- The active activity name. -->
      <span class="dropdown__text">{{ .Title }}</span>
      <img src="{{ .Site.BaseURL }}icons/dropdown-arrow.png" alt="tile arrow" class="dropdown__icon">
    </div>

    <!-- Let this be here to allow outside clicks close the dropdown. -->
    <div class="dropdown__overlay"></div>

    <div class="dropdown__options">
      <!-- The other activity options in this course size. -->
      {{ $current := .Title }}
      {{ range .Parent.Pages.ByWeight }}
      {{ if ne $current .Title }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}
  
    <!-- Dash between the menu items. -->
  <span>-</span>
  
    {{ range .Translations }}
  <a href="{{ .Permalink }}">
    <img width="auto" height="28px" src="{{ .Site.BaseURL }}icons/{{ .Lang }}.svg" alt="Language icon">
  </a>
  {{ end }}
  
</div>
{{ end }}


{{ define "main" }}
<!-- The heading which contains the title and subtitle. -->
<div class="banner" style="background-image: url('{{ .Site.BaseURL }}{{ .Params.Banner }}');">
  <img class="banner__logo" src="{{ .Site.BaseURL }}{{ .Site.Params.landingpageLogoImageSmall }}" alt="Logo">
  <div class="heading">
    {{ if eq .Parent.Params.layout "list" }}
    <span class="heading__overline">{{ .Parent.Title }}: {{ .Parent.Params.Subtitle }}</span>
    {{ else }}
    <span class="heading__overline">{{ .Title }}</span>
    {{ end }}
    <h1 class="heading__title heading__title--big">{{ .Title }}</h1>
    <p class="heading__subtitle heading__subtitle--wider">
      {{ .RenderString .Params.Description }}
    </p>
  </div>
</div>

<div class="block">
  <div class="block--inner block__information">
    <div class="block__information-section">

      {{ range where .Pages.ByWeight "Params.Category" "!=" "tool" }}
      <div class="block__header block__header--with-image">
        <img src="{{ .Site.BaseURL }}{{ .Params.Icon }}" alt="icon" class="block__header-icon">
        <h2 class="block__title" id="{{ replace (lower .Title) " " "_" }}">{{ .Title }}</h2>
      </div>
      {{ if eq .Params.Expandable true }}
      <div class="card card--collapsible card--bottom-space">
        <div class="card__text card__text--light card--collaps">
          {{ truncate 230 .Content }}
        </div>
        <div class="card__text card__text--light card--expand">
          {{ .Content }}
        </div>
        <div class="card__action card__action--left">
          <img src="{{ .Site.BaseURL }}icons/collapse.png" alt="expand section" class="card__action--icon card--expand">
          <img src="{{ .Site.BaseURL }}icons/expand.png" alt="expand section" class="card__action--icon card--collaps">
          <span class="card--collaps">{{ .Site.Params.singleShowEverything }}</span>
          <span class="card--expand">{{ .Site.Params.singleShowLess }}</span>
        </div>
      </div>
      {{ end }}
      {{ if eq .Params.Expandable false}}
      {{ if eq .Params.Instructions false }}
      <div class="card card--bottom-space">
        <div class="card__text card__text--light">
          {{ .Content }}
        </div>
      </div>
      {{ end }}
      <!-- {{ if eq .Params.Instructions true }}
      <div class="card card--bottom-space">
        <div class="card__text card__text--light">
          {{ .Content }}
        </div>
      </div>
      {{ end }} -->
      {{ end }}

      {{ if eq .Params.Instructions true }}
      <div class="card--bottom-space">
        {{ range where .Pages.ByWeight "Params.Category" "==" "tool" }}
          <div class="card card--collapsible card--no-padding" style="margin-bottom: 20px;">
            <div class="card--single-line">
              <div class="card--single-line--title">
                <span class="card__main">{{ index .Params "title" }}</span>
              </div>
              <div class="card__action card__action--right">
                <span class="hide-on-small">{{ .Site.Params.singleInstructions }}</span>
                <img src="{{ .Site.BaseURL }}icons/collapse.png" alt="expand section"
                  class="card__action--icon card--expand">
                <img src="{{ .Site.BaseURL }}icons/expand.png" alt="expand section"
                  class="card__action--icon card--collaps">
              </div>
            </div>

            <div class="card__text card__expandable">
              
              
              <!-- The text that needs to appear. -->
              <p>{{ .Content }}</p>
              
            <h3>{{ .Site.Params.singleJumpMenuTitle }} <a href="{{ .Params.link }}">{{ index .Params "title" }}</a></h3>


              
            </div>
          </div>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}

    </div>

    <!-- The menu for the section which also scrolls with us. -->
    <div class="block__information-menu">
      <div class="card card--menu card--shadow card--border">
        <div class="card__menu-title">{{ .Site.Params.singleJumpMenuTitle }}</div>
        {{ range where .Pages.ByWeight "Params.Category" "!=" "tool" }}
        <a href="#{{ replace (lower .Title) " " "_" }}" class="card__action card__action--menu card__action--left">
          <img src="{{ .Site.BaseURL }}{{ .Params.Menuicon }}" alt="expand section"
            class="card__action--icon card__action--medium">
          <span class="card__action-text">{{ .Params.Title }}</span>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<!-- A central block for choosing the course size. -->
{{ if isset .Parent.Params "category" }}
<div class="block block--larger block--white">
  <div class="block__header">
    <h2 class="block__title">{{ .Site.Params.singleOtherPagesTitle }}</h2>
    <span class="block__subtitle">For {{ .Parent.Params.Category }} ({{ .Parent.Params.Subtitle }}) - </span>
    <a href="{{ .Site.BaseURL }}" class="block__header--link">{{ .Site.Params.singleBackHomeText }}</a>
  </div>

  <!-- The cards for different activities. -->
  <div class="block__cards">
    {{ $current := .Title }}
    {{ range .Parent.Pages.ByWeight }}
    {{ if ne $current .Title }}
    <a class="card card--shadow card--showcase" href="{{ .Permalink }}">
      <img src="{{ .Site.BaseURL }}{{ .Params.Icon }}" alt="course icon" class="card__icon">
      <span class="card__title">
        {{ .Title }}
        <img src="{{ .Site.BaseURL }}icons/tile-arrow@2x.png" alt="tile arrow" class="card__title--icon">
      </span>
    </a>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ end }}
