<div class="card card--collapsible card--no-padding" style="margin-bottom: 20px;">
  <div class="card--single-line">
    <div class="card--single-line--title">
      <span class="card__main">UvA Weblectures Link-generator -</span>
      <span class="card__text">Provides a tool to select segments in weblectures.</span>
    </div>
    <div class="card__action card__action--right">
      <span class="hide-on-small">Instructions & Download</span>
      <img src="{{ .Site.BaseURL }}icons/collapse.png" alt="expand section"
        class="card__action--icon card--expand">
      <img src="{{ .Site.BaseURL }}icons/expand.png" alt="expand section"
        class="card__action--icon card--collaps">
    </div>
  </div>

  <div class="card__text card__expandable">
    <!-- The text that needs to appear. -->
    You can find the tool <a href="http://www.avcprompt.nl/mediasite/webcollegefragment.html" target="_blank">here</a>. You can watch a 5 min video tutorial <a href="https://youtu.be/bReSP0oEPUw" target="_blank">here</a> (made by Fam te Poel, UvA TLC).
  </div>
</div>
